image: namiaio/wp-docker
pipelines:
  default:
    - step:
        name: Run PHPCS.
        caches:
          - composer
        script:
          - rm composer.*
          - composer require dealerdirect/phpcodesniffer-composer-installer squizlabs/php_codesniffer wp-coding-standards/wpcs --no-interaction --prefer-dist --no-progress
          - composer install --prefer-dist --no-progress --no-interaction
          - ./vendor/bin/phpcs --ignore=twenty htdocs/wp-content/themes -pn --extensions=php --standard=WordPress-Core
    - step:
        name: Lint SCSS and JS.
        script:
          - yarn --frozen-lockfile && yarn lint
  branches:
    staging:
      - step:
          name: Run PHPCS.
          caches:
            - composer
          script:
            - rm composer.*
            - composer require dealerdirect/phpcodesniffer-composer-installer squizlabs/php_codesniffer wp-coding-standards/wpcs --no-interaction --prefer-dist --no-progress
            - composer install --prefer-dist --no-progress --no-interaction
            - ./vendor/bin/phpcs --ignore=twenty htdocs/wp-content/themes -pn --extensions=php --standard=WordPress-Core
      - step:
          name: Lint SCSS and JS.
          script:
            - yarn --frozen-lockfile && yarn lint
      - step:
          name: Check that remote status is porcelain clean.
          script:
            - ssh -p $STAGING_PORT $USER_HOST 'cd /data/wordpress/; git status; [ -z "$(git status --porcelain)" ]; exit $?'
      - step:
          name: Deploy to staging and build assets, and add tag for cache busting..
          deployment: staging
          script:
            - ssh -p $STAGING_PORT $USER_HOST 'source /etc/container_environment.sh; cd /data/wordpress/; git status; git fetch; git merge origin/staging; rm -rf htdocs/wp-content/plugins/kehittamo-*; composer install --no-dev; wp-restart-nginx; yarn --frozen-lockfile && yarn build && ./customizations/scripts-deployment-tag.sh;'
    master:
      - step:
          name: Run PHPCS.
          caches:
            - composer
          script:
            - apt-get update && apt-get install -y unzip openssh-client
            - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
            - composer -V
            - rm composer.*
            - composer require dealerdirect/phpcodesniffer-composer-installer squizlabs/php_codesniffer wp-coding-standards/wpcs --no-interaction --prefer-dist --no-progress
            - composer install --prefer-dist --no-progress --no-interaction
            - ./vendor/bin/phpcs --ignore=twenty htdocs/wp-content/themes -pn --extensions=php --standard=WordPress-Core
      - step:
          name: Lint SCSS and JS.
          script:
            - yarn --frozen-lockfile && yarn lint
      - step:
          name: Check that remote status is porcelain clean.
          script:
            - ssh -p $PRODUCTION_PORT $USER_HOST 'cd /data/wordpress/; git status; [ -z "$(git status --porcelain)" ]; exit $?'
      - step:
          name: Deploy to production, build assets, and add tag for cache busting.
          deployment: production
          script:
            - ssh -p $PRODUCTION_PORT $USER_HOST 'source /etc/container_environment.sh; cd /data/wordpress/; git status; git fetch; git merge origin/master; rm -rf htdocs/wp-content/plugins/kehittamo-*; composer install --no-dev; wp-restart-nginx; yarn --frozen-lockfile && yarn build && ./customizations/scripts-deployment-tag.sh;'
